<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:include="fragments/template :: page">
<head>
<title></title>
</head>
<body>

<div th:fragment="content" id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Contratos</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>


            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Corretores	
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                        <a class="btn btn-primary" th:href="${(#mvc.url('CKC#listar')).build()}" title="ADMIN" >ATUALIZAR</a>
                        
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Proposta</th>
                                        <th>SubProduto</th>
                                        <th>Data Cadastro</th>
                                        <th>Data Assinatura</th>
                                        <th>Data Vigencia</th>
                                        <th>Segurado</th>
                                        <th  sec:authorize="hasRole('ROLE_ADMIN')">Corretor</th>
										<th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                         			<tr th:each="contrato : ${contratos}" th:if="${#strings.equals(contrato.statusContrato,'RECUSADO')}"  class="danger">
										<td th:text="${contrato.codigoContrato}">1</td>
										<td sec:authorize="hasRole('ROLE_USER')" th:text="${contrato.produto}">1</td>
										<td sec:authorize="hasRole('ROLE_ADMIN')"  th:text="${contrato.produto} + ' KGL :' + |${contrato.produto.parcelaKgl.totalComissaoKgl}  CORRETOR: ${contrato.produto.parcelaCorretor.totalComissaoCorretor}"></td>
										
										<td th:text="${#calendars.format(contrato.dtCadastro, 'dd/MM/yyyy')}">1</td>
										<td th:text="${#calendars.format(contrato.dtAssinatura, 'dd/MM/yyyy')}">1</td>
										<td th:text="${#calendars.format(contrato.dtVigencia, 'dd/MM/yyyy')}">1</td>
										<td th:text="${contrato.segurado.nome}">1</td>
										<td sec:authorize="hasRole('ROLE_ADMIN')"  th:text="${contrato.corretor.nome}">1</td>
										<td th:text="${contrato.statusContrato}">1</td>
										<td> <a th:href="${(#mvc.url('CKC#detalharContr').arg(0,contrato.id)).build()}" class="fa  fa-arrow-down   fa-fw  " title="Alterar"></a>
										
										<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="${(#mvc.url('CKC#implantar').arg(0,contrato)).build()}" class="fa fa-thumbs-o-up fa-fw  " title="Implantar" ></a>
										<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="${(#mvc.url('CKC#recusar').arg(0,contrato)).build()}" class="fa fa-stop   fa-fw  " title="Recusar" ></a>
										<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="${(#mvc.url('CKC#remover').arg(0,contrato)).build()}" title="Excluir" class="fa fa-trash-o fa-fw   "></a>
										</td>
										
                                    </tr>
                         			<tr th:each="contrato : ${contratos}" th:if="${#strings.equals(contrato.statusContrato,'IMPLANTADO')}"  class="success">
										<td th:text="${contrato.codigoContrato}">1</td>
										<td sec:authorize="hasRole('ROLE_USER')" th:text="${contrato.produto}">1</td>
										<td sec:authorize="hasRole('ROLE_ADMIN')"  th:text="${contrato.produto} + ' KGL :' + |${contrato.produto.parcelaKgl.totalComissaoKgl}  CORRETOR: ${contrato.produto.parcelaCorretor.totalComissaoCorretor}"></td>

										<td th:text="${#calendars.format(contrato.dtCadastro, 'dd/MM/yyyy')}">1</td>
										<td th:text="${#calendars.format(contrato.dtAssinatura, 'dd/MM/yyyy')}">1</td>
										<td th:text="${#calendars.format(contrato.dtVigencia, 'dd/MM/yyyy')}">1</td>
										<td th:text="${contrato.segurado.nome}">1</td>
										<td sec:authorize="hasRole('ROLE_ADMIN')"  th:text="${contrato.corretor.nome}">1</td>
										<td th:text="${contrato.statusContrato}">1</td>
										<td> <a th:href="${(#mvc.url('CKC#detalharContr').arg(0,contrato.id)).build()}" class="fa  fa-arrow-down   fa-fw  " title="Alterar"></a>
										
										<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="${(#mvc.url('CKC#implantar').arg(0,contrato)).build()}" class="fa fa-thumbs-o-up fa-fw  " title="Implantar"></a>
										<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="${(#mvc.url('CKC#recusar').arg(0,contrato)).build()}" class="fa fa-stop   fa-fw  " title="Recusar"></a>
										<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="${(#mvc.url('CKC#remover').arg(0,contrato)).build()}" title="Excluir" class="fa fa-trash-o fa-fw   "></a>
										
										</td>
										
                                    </tr>
                         			<tr th:each="contrato : ${contratos}" th:if="${#strings.equals(contrato.statusContrato,'AGUARDANDO_IMPLANTACAO')}"  >
										<td th:text="${contrato.codigoContrato}">1</td>
										<td sec:authorize="hasRole('ROLE_USER')" th:text="${contrato.produto}">1</td>
										<td sec:authorize="hasRole('ROLE_ADMIN')"  th:text="${contrato.produto} + ' KGL :' + |${contrato.produto.parcelaKgl.totalComissaoKgl}  CORRETOR: ${contrato.produto.parcelaCorretor.totalComissaoCorretor}"></td>

										<td th:text="${#calendars.format(contrato.dtCadastro, 'dd/MM/yyyy')}">1</td>
										<td th:text="${#calendars.format(contrato.dtAssinatura, 'dd/MM/yyyy')}">1</td>
										<td th:text="${#calendars.format(contrato.dtVigencia, 'dd/MM/yyyy')}">1</td>
										<td th:text="${contrato.segurado.nome}">1</td>
										<td sec:authorize="hasRole('ROLE_ADMIN')"  th:text="${contrato.corretor.nome}">1</td>
										<td th:text="${contrato.statusContrato}">1</td>
										<td> <a th:href="${(#mvc.url('CKC#detalharContr').arg(0,contrato.id)).build()}" class="fa  fa-arrow-down   fa-fw  "  title="Alterar"></a>
										
										<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="${(#mvc.url('CKC#implantar').arg(0,contrato)).build()}" class="fa fa-thumbs-o-up fa-fw  " title="Implantar" ></a>
										<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="${(#mvc.url('CKC#recusar').arg(0,contrato)).build()}" class="fa fa-stop   fa-fw  " title="Recusar"></a>
										<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="${(#mvc.url('CKC#remover').arg(0,contrato)).build()}" title="Excluir" class="fa fa-trash-o fa-fw   "></a>
										
										</td>
										
                                    </tr>                                    
                                    
                                </tbody>
                            </table>
                        
                        </div>
                        <!-- /.panel-body -->
                        </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            
            
            <div class="row">
						
			                    <div class="panel panel-default">
			                        <div class="panel-heading">
	
			                        </div>
			                        <!-- /.panel-heading -->
			                        <div class="panel-body">
			                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-mov">
			                                <thead>
			                                    <tr>
			                                        <th>Parcela.</th>
			                                        <th>Data Pag. KGL</th>
			                                        <th>Num. Proposta</th>
			                                        <th>$ Contrato</th>
			                                        <th sec:authorize="hasRole('ROLE_ADMIN')" >Valor Kgl</th>
			                                        <th>Tarifa</th>
			                                        <th>Taxa</th>
			                                         <th>Total Desconto</th>
			                                        <th>Valor Corretor</th>
			                                        <th sec:authorize="hasRole('ROLE_ADMIN')" >Lucro</th>
			                                        <th>Status</th>]
			                                        <th>Parcial</th>
			                                        <th sec:authorize="hasRole('ROLE_ADMIN')">Adiant.</th>
			                                         <th sec:authorize="hasRole('ROLE_ADMIN')">Alterar.</th>
			                                        
			                                        <th>Dados. Contrato</th>
			                                        
			                                    </tr>
			                                </thead>
			                                <tbody>
			                                    <tr class="odd gradeX" th:each="movimentacao : ${movimentacoes}" th:if="${#strings.equals(movimentacao.status,'PAGO')}" class= "success">
													<td th:text="${movimentacao.descParcela}">1</td>
													<td th:text="${movimentacao.dtPagKglConverter}">1</td>
													
													<td th:text="${movimentacao.contrato.codigoContrato}">1</td>
													<td th:text="${movimentacao.contrato.valor}">1</td>
													<td sec:authorize="hasRole('ROLE_ADMIN')"   th:text="${movimentacao.valorKgl}">1</td>
													<td th:text="${movimentacao.tarifa}">1</td>
													<td th:text="${movimentacao.taxa}">1</td>
													<td th:text="${movimentacao.totalDesconto}">1</td>
													<td th:text="${movimentacao.valorCorretor}">1</td>
													
													<td sec:authorize="hasRole('ROLE_ADMIN')"  th:text="${movimentacao.lucro}">1</td>
													<td  th:text="${movimentacao.status}">1</td>
													<td  th:text="${movimentacao.adiantamento}">1</td>
													<td sec:authorize="hasRole('ROLE_ADMIN')">
													
														<button disabled="disabled"  type="button" class="btn btn-primary" data-toggle="modal" th:onclick="'javascript:setaDadosModal(\''+ ${movimentacao.id} +'\');'"
														    data-target="#newSession">Adicionar</button>
													</td>
													
													<td><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="${(#mvc.url('MC#alterar').arg(0,movimentacao)).build()}" class="fa fa-mail-forward fa-fw  " title="Alterar" ></a>
													</td>
													<td> 
														<a sec:authorize="hasRole('ROLE_ADMIN')"  th:href="${(#mvc.url('MC#gerarPagamento').arg(0,movimentacao).arg(1, 'N')).build()}" title="Recusar" class="fa fa-thumbs-o-down fa-fw   " ></a>
														<a sec:authorize="hasRole('ROLE_ADMIN')"  th:href="${(#mvc.url('MC#gerarPagamento').arg(0,movimentacao).arg(1, 'A')).build()}" title="Aguardando Pag." class="fa  fa-strikethrough   fa-fw   " ></a>
													
														<a sec:authorize="hasRole('ROLE_ADMIN')"  th:href="${(#mvc.url('MC#remover').arg(0,movimentacao)).build()}" title="Excluir" class="fa fa-trash-o fa-fw   " ></a>
													</td>
													
			                                    </tr>
			                                    <tr class="odd gradeX" th:each="movimentacao : ${movimentacoes}" th:if="${#strings.equals(movimentacao.status,'PARCIAL')}" class= "info">
													<td th:text="${movimentacao.descParcela}">1</td>
													<td th:text="${movimentacao.dtPagKglConverter}">1</td>
													<td th:text="${movimentacao.contrato.codigoContrato}">1</td>
													<td th:text="${movimentacao.contrato.valor}">1</td>
													<td sec:authorize="hasRole('ROLE_ADMIN')"   th:text="${movimentacao.valorKgl}">1</td>
													<td th:text="${movimentacao.tarifa}">1</td>
													<td th:text="${movimentacao.taxa}">1</td>
													<td th:text="${movimentacao.totalDesconto}">1</td>
													<td th:text="${movimentacao.valorCorretor}">1</td>
													
													<td sec:authorize="hasRole('ROLE_ADMIN')"  th:text="${movimentacao.lucro}">1</td>
													<td  th:text="${movimentacao.status}">1</td>
													<td  th:text="${movimentacao.adiantamento}">1</td>
													<td sec:authorize="hasRole('ROLE_ADMIN')">
													
														<button  type="button" class="btn btn-primary" data-toggle="modal" th:onclick="'javascript:setaDadosModal(\''+ ${movimentacao.id} +'\');'"
														    data-target="#newSession">Adicionar</button>
													</td>
													<td><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="${(#mvc.url('MC#alterar').arg(0,movimentacao)).build()}" class="fa fa-mail-forward fa-fw  " title="Alterar" ></a>
													</td>
													<td> 
														<a sec:authorize="hasRole('ROLE_ADMIN')"  th:href="${(#mvc.url('MC#gerarPagamento').arg(0,movimentacao).arg(1, 'S')).build()}" title="Pagar" class="fa fa-thumbs-o-up fa-fw" ></a>
														<a sec:authorize="hasRole('ROLE_ADMIN')"  th:href="${(#mvc.url('MC#gerarPagamento').arg(0,movimentacao).arg(1, 'N')).build()}" title="Recusar" class="fa fa-thumbs-o-down fa-fw   " ></a>
														<a sec:authorize="hasRole('ROLE_ADMIN')"  th:href="${(#mvc.url('MC#gerarPagamento').arg(0,movimentacao).arg(1, 'A')).build()}" title="Aguardando Pag." class="fa  fa-strikethrough   fa-fw   " ></a>
													
														<a sec:authorize="hasRole('ROLE_ADMIN')"  th:href="${(#mvc.url('MC#remover').arg(0,movimentacao)).build()}" title="Excluir" class="fa fa-trash-o fa-fw   " ></a>
													</td>
													
			                                    </tr>
			                                    
			                                    <tr class="odd gradeX" th:each="movimentacao : ${movimentacoes}" th:if="${#strings.equals(movimentacao.status,'RECUSADO')}" class= "danger">
													<td th:text="${movimentacao.descParcela}">1</td>
													<td th:text="${movimentacao.dtPagKglConverter}">1</td>
													<td th:text="${movimentacao.contrato.codigoContrato}">1</td>
													<td th:text="${movimentacao.contrato.valor}">1</td>
													<td sec:authorize="hasRole('ROLE_ADMIN')"  th:text="${movimentacao.valorKgl}">1</td>
													<td th:text="${movimentacao.tarifa}">1</td>
													<td th:text="${movimentacao.taxa}">1</td>
													<td th:text="${movimentacao.totalDesconto}">1</td>
													<td th:text="${movimentacao.valorCorretor}">1</td>
													<td sec:authorize="hasRole('ROLE_ADMIN')"  th:text="${movimentacao.lucro}">1</td>
													<td th:text="${movimentacao.status}">1</td>
													<td  th:text="${movimentacao.adiantamento}">1</td>
													
													<td sec:authorize="hasRole('ROLE_ADMIN')">
														<button disabled="disabled" type="button" class="btn btn-primary" data-toggle="modal" th:onclick="'javascript:setaDadosModal(\''+ ${movimentacao.id} +'\');'"
														    data-target="#newSession">Adicionar</button>
													</td>
													
													<td><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="${(#mvc.url('MC#alterar').arg(0,movimentacao)).build()}" class="fa fa-mail-forward fa-fw  " title="Alterar" ></a>
													</td>
													<td>
												 		<a sec:authorize="hasRole('ROLE_ADMIN')"  th:href="${(#mvc.url('MC#gerarPagamento').arg(0,movimentacao).arg(1, 'S')).build()}" title="Pagar" class="fa fa-thumbs-o-up fa-fw" ></a>
														<a sec:authorize="hasRole('ROLE_ADMIN')"  th:href="${(#mvc.url('MC#gerarPagamento').arg(0,movimentacao).arg(1, 'A')).build()}" title="Aguardando Pag." class="fa  fa-strikethrough   fa-fw   " ></a>
													
														<a sec:authorize="hasRole('ROLE_ADMIN')"  th:href="${(#mvc.url('MC#remover').arg(0,movimentacao)).build()}" title="Excluir" class="fa fa-trash-o fa-fw   " ></a></td>
													
			                                    </tr>			                                    
			                                    <tr class="odd gradeX" th:each="movimentacao : ${movimentacoes}" th:if="${#strings.equals(movimentacao.status,'AGUARDADO_PAGAMENTO')}" >
													<td th:text="${movimentacao.descParcela}">1</td>
													<td th:text="${movimentacao.dtPagKglConverter}">1</td>
													<td th:text="${movimentacao.contrato.codigoContrato}">1</td>
													<td th:text="${movimentacao.contrato.valor}">1</td>
													<td sec:authorize="hasRole('ROLE_ADMIN')"  th:text="${movimentacao.valorKgl}">1</td>
													<td th:text="${movimentacao.tarifa}">1</td>
													<td th:text="${movimentacao.taxa}">1</td>
													<td th:text="${movimentacao.totalDesconto}">1</td>
													<td th:text="${movimentacao.valorCorretor}">1</td>
													<td sec:authorize="hasRole('ROLE_ADMIN')"  th:text="${movimentacao.lucro}">1</td>
													<td th:text="${movimentacao.status}">1</td>
													<td  th:text="${movimentacao.adiantamento}">1</td>
													
													<td sec:authorize="hasRole('ROLE_ADMIN')">
														<button  type="button" class="btn btn-primary" data-toggle="modal" th:onclick="'javascript:setaDadosModal(\''+ ${movimentacao.id} +'\');'"
														    data-target="#newSession">Adicionar</button>
													</td>
													<td><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="${(#mvc.url('MC#alterar').arg(0,movimentacao)).build()}" class="fa fa-mail-forward fa-fw  " title="Alterar" ></a>
													</td>
													<td> 
														<a sec:authorize="hasRole('ROLE_ADMIN')"  th:href="${(#mvc.url('MC#gerarPagamento').arg(0,movimentacao).arg(1, 'S')).build()}" title="Pagar" class="fa fa-thumbs-o-up fa-fw" ></a>
														<a sec:authorize="hasRole('ROLE_ADMIN')"  th:href="${(#mvc.url('MC#gerarPagamento').arg(0,movimentacao).arg(1, 'N')).build()}" title="Recusar" class="fa fa-thumbs-o-down fa-fw   " ></a>
														<a sec:authorize="hasRole('ROLE_ADMIN')"  th:href="${(#mvc.url('MC#remover').arg(0,movimentacao)).build()}" title="Excluir" class="fa fa-trash-o fa-fw   " ></a></td>
													
			                                    </tr>			                                    
			                                </tbody>
			                            </table>
			                            <!-- /.table-responsive -->
			                        </div>
			                        <!-- /.panel-body -->
			                    </div>
		                    <!-- /.panel -->
		                </div>
		                
		                	<!-- Modal -->
							<div id="newSession" class="modal fade" role="dialog">
								<div class="modal-dialog">
									<div class="row">
										<div class="panel panel-default" id="msg"></div>
									</div>
									<!-- Modal content-->
									<div class="modal-content">
										<div class="modal-body">
											<form class="form-group" id="formNewField" th:object="${mov}"
												th:action="@{/contrato/adiantamento/}" method="POST">
												<div class="row">
													<div class="form-group">
					
														<div class="col-sm-5  form-group">
															<label for="Valor" class="control-label">Valor</label>
															<input	id="id" type="hidden" class="form-control" th:field="*{id}"  />
															
															 <input	id="valor" type="text" class="form-control money" th:field="*{adiantamento}" />
														</div>
					
														<div class="col-sm-3  form-group"></div>
													</div>
					
													<div class="col-lg-12 col-md-12">
														<button type="submit" class="btn btn-primary">Salvar</button>
													</div>
												</div>
											</form>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
		<!-- Page-Level Demo Scripts - Tables - Use for reference -->
		<script>
			function setaDadosModal(value) {
				document.getElementById('id').value = value;
				
			}
		</script>

	</div>
</body>
</html>