<!-- jQuery -->
<script th:src="@{/webjars//jquery/jquery.min.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script th:src="@{/webjars/metisMenu/metisMenu.min.js}"></script>

<!-- Morris Charts JavaScript -->
<script th:src="@{/webjars/raphaeljs/raphael-min.js}"></script>
<script th:src="@{/webjars/morrisjs/morris.min.js}"></script>

<!-- Custom Theme JavaScript -->
<script th:src="@{/webjars/startbootstrap-sb-admin-2/js/sb-admin-2.js}"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script type="text/javascript"
	th:src="@{/webjars/momentjs/min/moment-with-locales.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/Eonasdan-bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jasny-bootstrap.js}"></script>
<script type="text/javascript" th:src="@{/js/jasny-bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.mask.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/dataTables.bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/dataTables.responsive.js}"></script>

<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<script
	src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="/js/datatable.js"></script>


<script type="text/javascript">
	/*<![CDATA[*/
		


	$(document).ready(function() {

		$('.inputmask').inputmask({
			mask : '(99)99999-9999'
		})

		$('.money').mask('000.000.000.000.000,00', {
			reverse : true
		});

		$(".somenteNumero").bind("keyup blur focus", function(e) {
			e.preventDefault();
			var expre = /[^\d]/g;
			$(this).val($(this).val().replace(expre, ''));
		});

		$('#dataTables-example').DataTable({
			responsive : true
		});
		
		$('#dataTables-mov').DataTable({
			responsive : true
		});


		$('#list-mov').DataTable({
			responsive : true
		});
		
		
		$(".rg").mask("99.999.999-9", {
			placeholder : " "
		});

		$(".cpf1").mask("999.999.999-99", {
			placeholder : " "
		});

		$(".js-listar-movimentacoes").on('click', function (e) {
			e.preventDefault();
			var botao =  $(e.currentTarget);
			var url = botao.attr('href');
			console.log(url);
			
			var dataInicial = $('#dateTimeInicial').val();
			var dataFinal = $('#dateTimeFinal').val();
			var corretor = $('#corretor').val();
			var request = JSON.parse('{ "dtInicial":"'+dataInicial+'", "dtFinal":"'+dataFinal+'", "corretor":"'+corretor+'"}');
			$.ajax({  
                url: url,  
                dataType: 'json',
                data : JSON.stringify(request),  
				contentType: "application/json; charset=utf-8",
				type: 'POST',
                success: function(data, status) {
              			var resultado =data ;
              			$('#list-mov').dataTable({
              				  "aaData": data,
              				  "aoColumns": [
                				{ "mData": "contrato.corretor.nome" },
              				    { "mData": "dtConverter" },
              				    { "mData": "contrato.codigoContrato" },
              				    { "mData": "contrato.valor" },
              				    { "mData": "valorKgl" },
              				    { "mData": "valorCorretor" },
              				    { "mData": "lucro" },
              				    { "mData": "status" }
              				  ],
              				  "bDestroy": true,
              				  "footerCallback": function ( row, data, start, end, display ) {
              		            var api = this.api(), data;
              		 
              		            // Remove the formatting to get integer data for summation
              		            var intVal = function ( i ) {
              		                return typeof i === 'string' ?
              		                    i.replace(/[\$,]/g, '')*1 :
              		                    typeof i === 'number' ?
              		                        i : 0;
              		            };
              		 
              		            // Valor Contrato
              		            
              		            total = api
              		                .column( 3 )
              		                .data()
              		                .reduce( function (a, b) {
              		                    return intVal(a) + intVal(b);
              		                }, 0 );

              		            pageTotal = api
              		                .column(3 , { page: 'current'} )
              		                .data()
              		                .reduce( function (a, b) {
              		                    return intVal(a) + intVal(b);
              		                }, 0 );
              		          
              		            $( api.column( 3 ).footer() ).html(
              		                'R$: '+pageTotal +' ( R$: '+ total +' total)'
              		            );
              		            
              		            

								// /valor KGL
              		            total = api
              		                .column( 4 )
              		                .data()
              		                .reduce( function (a, b) {
              		                    return intVal(a) + intVal(b);
              		                }, 0 );

								pageTotal = api
              		                .column(4 , { page: 'current'} )
              		                .data()
              		                .reduce( function (a, b) {
              		                    return intVal(a) + intVal(b);
              		                }, 0 );
              		          
              		            $( api.column( 4 ).footer() ).html(
              		                'R$: '+pageTotal +' ( R$: '+ total +' total)'
              		            );
              		            
              		            
								// Valor Corretor '$'+pageTotal +' ( $'+ total +' total)'
              		            total = api
              		                .column( 5 )
              		                .data()
              		                .reduce( function (a, b) {
              		                    return intVal(a) + intVal(b);
              		                }, 0 );

								pageTotal = api
              		                .column(5 , { page: 'current'} )
              		                .data()
              		                .reduce( function (a, b) {
              		                    return intVal(a) + intVal(b);
              		                }, 0 );
              		          
              		            $( api.column( 5 ).footer() ).html(
              		                'R$: '+pageTotal +' ( R$: '+ total +' total)'
              		            );
              		            
              		            // Total over all pages
              		            total = api
              		                .column( 6 )
              		                .data()
              		                .reduce( function (a, b) {
              		                    return intVal(a) + intVal(b);
              		                }, 0 );
              		            // Total over this page
              		            // Total over this page
              		            pageTotal = api
              		                .column(6 , { page: 'current'} )
              		                .data()
              		                .reduce( function (a, b) {
              		                    return intVal(a) + intVal(b);
              		                }, 0 );
              		          
              		            $( api.column( 6 ).footer() ).html(
              		                'R$: '+pageTotal +' ( R$: '+ total +' total)'
              		            );
              		        }
              				});
                 }  
          });  

		     /*
				$('#movimentacoes').dataTable({
				    destroy: true,
				    aaData: resultado
				});
				
				var table = $('#movimentacoes').dataTable().api();
				table.clear();
				table.rows.add(data);
				table.draw();
				var table = $('#movimentacoes').DataTable();
				table.rows.add(data);
				table.ajax.reload();*/
			/*
			
			var response = $.ajax({
				url: url,
				type: 'POST',
				contentType: "application/json; charset=utf-8",
				data: $('#dateTime').val()
				
			});
			
			
			response.done(function(e) {
				console.log(e);
			});
			
			response.fail(function(e) {
				console.log(e);
				alert('Erro recebendo cobrança');
			})
			
			;*/
		});
     	$('#dtPagamento').datetimepicker({
            locale: 'pt-br',
            format: 'DD/MM/YYYY'
        }); 
     	
     	$('#dtPagamentoFinal').datetimepicker({
            locale: 'pt-br',
            format: 'DD/MM/YYYY'
        }); 
     
		
		$(".cpf2").inputmask({mask: ['999.999.999-99', '99.999.999/9999-99'], keepStatic: true });
		
	
		 
		    $("#doc").inputmask({
		        mask: ["999.999.999-99", "99.999.999/9999-99" ],
		        keepStatic: true
		    });


	});

	/*]]>*/
</script>
