<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="fragments/template :: page">
    <head>
        <title></title>
    </head>
    <body>
        <div th:fragment="content">
        
          <div class="row">
            <div class="col-lg-12">
              <h1 class="page-header">CONTROLE FINANCEIRO - ALUGUEL</h1>
            </div>
            <!-- /.col-lg-12 -->
          </div>
          <!-- /.row -->
          <div class="row">
            <div class="jumbotron admin-jumbotron">
              <h1>BEM VINDO</h1><br/>
              <p>CONTROLE DE INQUILINOS.</p>
              <p>
              </p>
            </div>
          </div>
          <!-- /.row -->
        </div>
    </body>
</html>

